.form-side {
    background-color: #F7F7F9;
    position: relative;
    width: 100%;
    padding: 50px 50px;
    margin: 5% 5%;
}

.form-side .input-style {
    border: none;
    border-bottom: 2px solid #0a98dc;
    height: 40px;
}

.form-side .input-style:hover {
    background-color: #76c3d8;
    transition: all ease 0.8s;
}

.form-message {
    height: 50px;
    width: 100%;
    font-size: 24px;
    display: none;
}

.form-message p {
    color: red;
    text-align: center;
    font-size: 16px;
}

#btnRegister,#btnLogin {
    width: 150px;
    height: 40px;
    float: right;
    border-radius: 5px;
    padding: 0 15px;
    background-color: #007bff;
    border: 1px solid #6a93a9;
    transition: all ease 0.3s;
    color: aliceblue;
    font-size: 16px;
}

#btnRegister:hover {
    background-color: #085d85;
}
#btnLogin:hover {
    background-color: #085d85;
}
.error-valid{
    border: 2px solid red;
}
.form-side-login{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    position: relative;
    width: 50%;
    padding: 50px 50px;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
.form-side-login:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.form-side-login .input-style-login{
    border: none;
    border-bottom: 2px solid #0a98dc;
}
.form-group>a{
    color: #0a98dc;
}
.form-group>a:hover{
    color: #0b567d;
}
#register{
    pointer-events: auto;
    color: #0a98dc;
}